* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #576490;
  line-height: 1.5;
  font-family: 'Source Sans Pro', monospace;
  min-height: 100vh;
  min-width: 100vw;
  padding: 1em;
}

.container {
  border-radius: 5px;
  max-width: 400px;
  margin: auto;
  padding: 1em;
  text-align: center;
  background: #fafafa;
  color: #171a21;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

.title {
  font-weight: 700;
  font-size: 2.5rem;
}

.subtitle {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0.5em 0;
}

.label {
  display: block;
  font-weight: 600;
  font-size: 1.6rem;
}

.max-bits-label {
  display: block;
  font-size: 1.3rem;
}

.max-bits-input {
  cursor: pointer;
}

.max-bits-output {
  font-size: 1.2rem;
}

.binary-input {
  display: block;
  width: 90%;
  max-width: 275px;
  margin: 0.5em auto;
  color: inherit;
  font-weight: 300;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.1);
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.75em;
  cursor: pointer;
}

#binary-input:focus {
  background: rgba(0, 0, 0, 0.125);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#binary-input:hover {
  background: rgba(0, 0, 0, 0.125);
}

.error-msg {
  margin-top: 1em;
  color: #a93f55;
  border: none !important;
}

.decimal-output {
  font-size: 1.4rem;
  font-style: italic;
  overflow: auto;
}

.display-error {
  display: block !important;
  color: #a93f55;
  border: 1px solid #a93f55;
}
